
.work-container {
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    background-color: rgba(217, 222, 225, 0.876);
}
.service-card {
    background-color: rgba(175, 181, 182, 0.689);
}
.work-btn {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    margin-bottom: 10px;
}
.work-details {
    margin-top: 5px;
}

.highlighted {
    color: rgba(0, 0, 0, 0.674); 
}
