
.work-container {
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    background-color: rgba(211, 220, 225, 0.876);
}
.btn-classic {
    width: 97%;
    margin-top: 15px;
    margin-bottom: 7px;
}
.work-btn {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    margin-bottom: 10px;
}
.work-details {
    margin-top: 5px;
}

.highlighted {
    color: rgba(0, 0, 0, 0.674); 
}
